graft openscap_report
graft docs
graft tests
global-exclude *.py[cod]
include README.md
include LICENSE
include LICENSE.spdx
include tox.ini
include requirements.txt
include .eslintignore
include .eslintrc.yml
include .pylintrc
include .flake8
