include README.md
include LICENSE
include tox.ini
include requirements.txt
include .eslintignore
include .eslintrc.yml
include .pylintrc
include .flake8
recursive-include openscap_report *
recursive-include tests *
