/*
 * Copyright 2022, Red Hat, Inc.
 * SPDX-License-Identifier: LGPL-2.1-or-later
 */

main {
    scroll-behavior: smooth;
}

pre {
    background: #cccccc;
    -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, .1);
    padding: 2px 4px;
    border-radius: 4px;
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    margin: 5px;
}

details pre {
    padding: 4px;
    width: 100%;
    margin-top: 4px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0px;
}

.progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
    text-align: center;
    min-width: 10em;
    height: 20px;
}

.progress {
    display: flex;
    height: 1rem;
    font-size: .75rem;
    background-color: #e9ecef;
}

code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}

.text_block {
    text-align: justify;
}

.hidden {
    display: none;
}

.oval-test-detail-table {
    max-width: 1200px;
    min-width: 500px;
}

@media screen and (min-width: 992px) {
    .rule-title {
        width: 70% !important;
    }

    .rule-severity {
        width: 5% !important;
    }

    .rule-result {
        width: 10% !important;
    }
}

.pf-c-alert__title pre {
    font-weight: normal;
    color: black;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.container > label {
    margin: 10px !important;
}

.icon-space {
    margin-right: 5px;
}

.error-id-ref {
    color: red;
    background-color: yellow;
    font-weight: 900;
}

.footer-logo {
    width: 52px;
    height: 52px;
}

.footer-content {
    display: grid;
    grid-template-columns: 52px 1fr;
    grid-auto-rows: 52px;
    align-items: center;
}

.footer-text {
    border-bottom: solid 2px transparent;
}

footer {
    margin-left: auto !important;
    margin-right: auto !important;
}

.severity_of_failed_rules_unknown {
    background-color: #7A7C85;
}

.severity_of_failed_rules_low {
    background-color: #73C5C5;
}

.severity_of_failed_rules_medium {
    background-color: #F0AB00;
}

.severity_of_failed_rules_high {
    background-color: #F32112;
}

.rule_result_stats_pass {
    background-color: #4FA843;
}

.rule_result_stats_fail {
    background-color: #F32112;
}

.rule_result_stats_other {
    background-color: #F0AB00;
}

.column_with_statistic_of_scan {
    flex: auto !important;
}

.row_with_statistic_of_scan {
    display: flex;
    column-gap: 20px;
}

.cpe-label {
    border-radius: 0px !important;
}

.cpe-label__content::before {
    border-radius: 0px !important;
}

.tooltip-box {
    visibility: hidden;
    position: absolute;
    top: 16%;
    left: 102%;
}

.tooltip-wrapper:hover .tooltip-box {
    visibility: visible;
    z-index: 10;
}

.tooltip-wrapper {
    text-decoration: underline dotted;
}

.tooltip-wrapper:hover {
    text-decoration: underline;
}

.tooltip__content-width {
    width: 20vw;
    text-align: justify;
    white-space: pre-line;
    word-break: break-word;
    hyphens: auto;
}

.clickable-element {
    text-decoration: underline dotted;
}

.clickable-element:hover {
    text-decoration: underline;
}

.remediation-clipboard-padding {
    padding-left: 0px !important;
}
